<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		<!--  Oracle方言
		<property name="dialect">org.hibernate.dialect.OracleDialect</property> 
		-->
		
		<!-- Mysql方言  配置自定义方言支持text类型数据 
			<property name="dialect">com.dqgb.sshframe.common.util.MysqlDialectUtil</property>
		-->
		<!-- SQLServer方言
			<property name="dialect">com.dqgb.sshframe.common.util.SQLServerDialectUtil</property>
		 -->
		<property name="dialect">org.hibernate.dialect.OracleDialect</property> 
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>
		<property name="hbm2ddl.auto">none</property>
	</session-factory>
</hibernate-configuration>
